<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Teacher</th>
    <th>School class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.content %></td>
    <td><%= task.teacher %></td>
    <td><%= task.school_class %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
