<p id="notice"><%= notice %></p>

<p>
  <b>Klasa:</b>
  <%= @school_class.name %>
</p>

<h2>Zadania</h2>
<% Task.joins(:plan => :school_classes)
      .where('school_classes.id = ?', @school_class).each do |task| %>
      <h3># <%= task.title %></h3>
      <p><%= task.description %></p>
      <p>Materiały:</p>
      <% task.documents.each do |doc| %>
      <p><%= link_to doc.name, doc %></p>
      <% end %>
      <hr />
<% end %>
