<p id="notice"><%= notice %></p>

<p>
  <b>Class name:</b>
  <%= @school_class.class_name %>
</p>

<p>
  <b>Profile:</b>
  <%= @school_class.profile %>
</p>

<p>
  <b>Nb students:</b>
  <%= @school_class.nb_students %>
</p>

<p>
  <b>Teacher:</b>
  <%= @school_class.teacher %>
</p>


<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
