<h1>Strona główna dla nauczyciela</h1>

<br />

<h2>Klasy</h2>
<span>
<% @classes.each do |n| %>
<%= link_to n.name, n %> #
<% end %>
</span>

<h2>Najbliższe zajęcia</h2>
<% @plans.each do |n| %>
<h3><%= n.subject %></h3>
<p><%= n.room %></p>
<p><%= Date::DAYNAMES[n.day] + ', godz. ' + n.hour.to_s  %></p>
<hr />
<% end %>

<h2>Materiały</h2>
<span>
<% Document.where('teacher_id = ?', 1).each do |n| %>
<%= link_to n.name, n %> #
<% end %>
</span>