<h1>Strona główna dla ucznia</h1>

<br />

<h2>Aktualnosci</h2>
<% @news.each do |n| %>
<h3><%= n.title %></h3>
<p><%= n.created_at %></p>
<p><%= n.content %></p>
<hr />
<% end %>
<p style="text-align:right"><%= link_to 'Wcześniejsze wiadomości', news_index_path %></p>

<h2>Zadania</h2>
<p>Na dziś: <%= @tasksForToday %> zadań</p>
<p>Na jutro: <%= @tasksForTomorrow %> zadań</p>
<p>Najbliższy tydzień: <%= @tasksForWeek %> zadań</p>
<p style="text-align:right"><%= link_to 'Pełna lista zadań', tasks_path %></p>

<h2>Materiały</h2>
<% @docs.each do |n| %>
<h3><%= n.name %></h3>
<p><%= n.description %></p>
<p><%= link_to n.file.url, n.file.url %></p>
<hr />
<% end %>
<p style="text-align:right"><%= link_to 'Pozostałe materiały', documents_path %></p>