<h1>Strona główna dla nauczyciela</h1>

<br />

<h2>Klasy</h2>
<span>
<% @classes.each do |n| %>
<%= link_to n.name, n %> #
<% end %>
</span>

<h2>Najbliższe zajęcia</h2>
<% @lessons.each do |lesson| %>
<h3><%= lesson.plan.subject %></h3>
<p><%= lesson.plan.room %></p>
<p><%= Date::DAYNAMES[lesson.plan.day] + ', godz. ' + lesson.plan.hour.to_s  %></p>
<h4>Powiązane zadania</h4>
<% lesson.tasks.each do |task| %>
<p><%= link_to task.title, task %></p>
<% end %>
<p><%= link_to '# Dodaj zadanie', new_task_path %></p>
<hr />
<% end %>
