<h1>Strona główna</h1>

<br />
<%= link_to 'Nauczyciele', teachers_path %><br />
<%= link_to 'Klasy', school_classes_path %><br />
<%= link_to 'Zadania', tasks_path %><br />
<%= link_to 'Plan', plans_path %><br />
<%= link_to 'Uzytkownicy', users_path %><br />
<%= link_to 'Dokumenty', documents_path %><br />