<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;.
  charset=utf-8" />
  <meta http-equiv="Content-Language" content="pl-PL" />
  <title>asdf</title>
  <%= javascript_include_tag 'jquery', 'nested_form' %>
  <%= stylesheet_link_tag "style" %>
</head>
<body id="library">
  <div id="container">
    <div id="header">
      <div id="user_nav">
	<% if user_signed_in? %>
	  Zalogowany jako <%= current_user.email %>. <%= link_to "Wyloguj", destroy_user_session_path %>
	<% else %>
	  <%= link_to "Zaloguj", new_user_session_path %>
	<% end %>
	<p>>> <%= link_to "Strona glowna", root_path %></p>
      </div>
    </div>
    <div id="content">
      <%= yield -%>
    </div>
    <div id="sidebar"></div>
  </div>
</body>
</html>